/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Resouce*/

.jd-sprite-icon {
	display: block;
	background: url(../images/jd-sprites.png?v=13) no-repeat;
	background-size: 200px 200px;
}
body {
	max-width: 640px;
	margin: 0 auto;
	padding-top: 0;
	display: none;
	background-color: #f5f5f5;
}

/*取消元素选中样式和文本框拖放*/
input, button, select, textarea {
	outline: none
}
textarea {
	resize: none
}
.container {
	width: 100%;
	padding: 0;
}

/*NavBar Search*/
.customNavBar {
	width: 100%;
	max-width: 640px;
	position: fixed;
	left: inherit;
	right: inherit;
	margin: 0;
	padding: 0;
	min-height: 40px;
	border-color: rgb(207, 30, 30);
}
.customNavBar .container {
	padding-right: 0;
	padding-left: 0;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(207, 30, 30);
	border-color: rgb(207, 30, 30);
}
.navbar-left-logo {
	padding-top: 10px;
	padding-left: 10px;
	left: 10px;
	position: absolute;
}
.navbar-left-logo i {
	display: inline-block;
	width: 56px;
	height: 21px;
	background-position: 0 -109px;
}
.navbar-middle-search {
	height: 30px;
	display: inline-block;
	width: 100%;
	height: 40px;
	padding-left: 80px;
	padding-right: 42px;
}
.navbar-middle-search-box {
	height: 30px;
	width: 100%;
	background-color: white;
	margin-top: 5px;
	border-radius: 15px;
	line-height: 40px;
}
.navbar-middle-search-box-icon {
	width: 20px;
	height: 20px;
	margin-left: 8px;
	background-position: -60px -109px;
	display: inline-block;
}
.navbar-middle-search-input-box {
	display: inline-block;
	width: 80%;
	height: 100%;
}
.navbar-middle-search-input-box input {
	border: none;
	width: 100%;
	font-size: 13px;
	line-height: 1.2em;
	vertical-align: middle;
	display: inline-block;
	height: 1.2em;
	margin-bottom: 10px;
}
.navbar-right-login {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 10px;
}
.navbar-right-login a {
	color: white;
	line-height: 40px;
}

/*图片滚动*/
.scroll-image-box {
	padding-top: 41px;
	padding-bottom: 0;
	position: relative;
}
.scroll-image-box .unslider {
	position: relative;
}
.scroll-image-box .container {
	padding: 0;
}
.banner .unslider-nav {
	position: absolute;
	bottom: 0;
	z-index: 99;
	left: 40%;
}
.banner ul {
	padding: 0;
	display: block;
}
.banner li {
	display: block;
}
.banner a {
	display: block;
}
.banner img {
	width: 100%;/*	  max-width: 640px;
			  max-height: 311px;
			  display: block;*/
}
.unslider .unslider-nav {
	position: absolute;
	bottom: 0;
	left: 50%;
}
.unslider ol {
	padding: 0;
}

/*快捷进入导航*/
.quick-entry-nav {
	background-color: white;
	padding-bottom: 8px;
}
.quick-entry-nav a {
	display: inline-block;
	width: 25%;
	float: left;
	text-align: center;
	text-decoration: none;
	color: #666;
	padding-top: 10px;
	font-size: 0.9em;
}
.quick-entry-nav img {
	display: block;
	width: 40px;
	margin: 0 auto 6px auto;
}

/*掌上秒杀*/
.seckill-floor {
	background-color: white;
	  margin-top: 7px;
}
.seckill-floor .seckill-floor-title {
	  display: inline-block;
  width: 100%;
}
.seckill-floor-title .seckill-floor-title-icon {
  width: 16px;
  height: 20px;
  display: inline-block;
  background-image: url("../images/seckill-floor-title-icon.png");
  background-size: 16px 20px;
  margin-left: 4px;
  margin-top: 4px;
  float: left;
}
.seckill-floor-title .seckill-floor-title-text {
	  display: inline-block;
  /* clear: right; */
  line-height: 2.2;
   float: left; 
  padding-left: 4px;
  color: #c91523
}
/*倒计时*/
.seckill-floor-title .seckill-floor-title-timer{
  display: inline-block;
    margin-top: 8px;
}
.seckill-floor-title .seckill-floor-title-timer_number{
background-color: #5d5d5d;
  color: #fff;
  width: 15px;
  display: inline-block;
  line-height: 15px;
  height: 15px;
  text-align: center;
    float: left;

  margin-left: 2px;
}
.seckill-floor-title .seckill-floor-title-timer_separator{
    float: left;
  height: 15px;
  text-align: center;
  line-height: 14px;
  padding-left: 2px;
}



.seckill-floor-title .seckill-floor-title-text-more{
	display: inline-block;
  text-decoration: none;
	  float: right;
	    font-size: .8em;
  padding-top: 3px;
  color: #666;
}
.seckill-floor-title .seckill-floor-title-icon-more{
	width: 7px;
  height: 12px;
  display: inline-block;
  background-position: -186px -51px;
  margin-left: 2px;
  margin-top: 4px;
    margin-right: 2px;
  float: right;
}

/*商品列表*/
.seckill-floor-list ul {
	display: inline-block;
	padding: 0;
}
.seckill-floor-list li {
	display: inline;
	float: left;
	width: 33.333333333%;
}
.seckill-floor-list span{
	display: inline-block;
	/* clear: right; */
}
.seckill-floor-list span.seckill-image{
	padding-left: 40px;
	padding-right: 40px;
}
.seckill-floor-list span.middle {
border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.seckill-floor-list a {
/*	padding-left: 40px;*/
	display: inline-block;
	text-decoration: none;
float: right;
  text-align: center;
}
.seckill-floor-list img {
	  width: 100%;
	display: block;
/*	  padding-left: 40px;*/
}
.seckill-floor-list span.seckill-price {
	  text-align: center;
  color: #f15353;
	text-align: center;
}
.seckill-floor-list del.seckill-preprice{
	  text-align: center;
  display: block;
  color: #888;
  font-size: .9em;
  text-decoration: line-through;
}


/*超值购*/

.floor{

    background-color: white;
    margin-top: 8px;
    display: inline-block;

}
.floor .title{
  border-bottom: 1px solid gainsboro;
  margin: 0;
  display: block;
  font-size: 15px;
  padding-bottom: 7px;
  color: #7f7f7f;
  margin: 8px 0 2px 7px;
  white-space: nowrap;
  margin: 0;
  margin-top: 6px;
  padding-bottom: 9px;
}
.floor .title:before {
      content: "";
  display: block;
  width: 3px;
  height: 12px;
  float: left;
  background: #d8505c;
  margin: 3px 7px 0 9px;
}
.floor .discount-link{

  display: inline-block;
  }
 .floor img{
    width: 100%;
 }

.discount-floor .left-floor{
  width: 50%;
  float: left;
  height: 100%;
  border-right: 1px solid gainsboro;
  padding-bottom: 8px;
}
.discount-floor .up-floor{
  width: 50%;
  float: right;

  height: 50%;
  border-bottom: 1px solid gainsboro;
}
.discount-floor .down-floor{
  width: 50%;
  float: right;
  height: 50%;
}


.brand-floor .right-floor{
  width: 50%;
  float: right;
  height: 100%;
  border-left: 1px solid gainsboro;
  padding-bottom: 8px;
}
.brand-floor .up-floor{
  width: 50%;
  float: left;

  height: 50%;
  border-bottom: 1px solid gainsboro;
}
.brand-floor .down-floor{
  width: 50%;
  float: left;
  height: 50%;
}
















